<div class="center hero-unit">
  <h1>MyFinance</h1>
  <h2>
    All your finances, in one place
  </h2>
      <p>
      MyFinance gives you a single window view into your financial world. You can browse through credit card bills, debit card expenses, loans, mutual funds, FDs, stocks, investments, or just about any other financial instrument. 
      </p>
      <p>
      This unique feature enables you to understand your financial health and empowers you to make better decisions. So you can plan for a better tomorrow.
      </p>
      <br><br>
      <%= link_to "Sign up now!", signup_path, 
                            class: "btn btn-large btn-primary" %>

</div>
