<% provide(:title, "Settings") %>
<div class="row">
  <aside class="span4">
    <section>
      <h3>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h3>
    </section>
  </aside>
  <div class="span8">
    <h2>User Settings</h2>
  </div>
</div>
</h1>

